/* .title {
    color: #cbbcf6;
    font-size: 10vh;
}
.title > span {
    color: #421b9b;
} */

.logo {
    width: 15rem;
    margin-bottom: 20px;
}

.masthead {
    background: url('../../assets/img/bg.jpg');
    height: calc(100vh - 40px);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    background-size: cover; 
}

.role {
    font-size: 7vh;
    background: linear-gradient(to left,#ebedee,#fdfbfb);
    padding: 0 7% !important;
    height: 1.5em !important;
    color: #1A1A1A;
    text-transform: uppercase;
    box-shadow: 5px 5px 30px rgba(0,0,0,.1);
}

.role > div {
    position: relative !important;
}


@keyframes zoom {
    0% {
        background-size: 140%;
    }
    100% {
        background-size: 150%;
    }
}

@media screen and (min-width: 768px) {
    .masthead {
        animation: zoom 7s ease;
        background-size: 150%;
    }
    .logo {
        width: 20rem;
    }
}